<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="row py-3">
                    <div class="col-2 text-center px-0 mx-0">
                        <img src="../../../assets/icons/characters.png" alt="Characters" />
                    </div>
                    <div class="col-4 text-left px-0 mx-0">
                        <h2>Characters</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row py-3">
                <div class="col-12 text-center cards">
                    <!-- <div *ngFor="let character of characteres" class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ character.name}}</p>
                    </div>
                </div> -->
                    <div id="card-container" class="card">
                        <img class="profile-img" src="../../../assets/img/bat.png" alt="Image">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                        </div>
                                        <div class="col-6">
                                            <h5 class="card-title">Title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row py-5">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4><b>Lorem ipsum</b></h4>
                                            <p>Lorem ipsum</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Lorem ipsum</p>
                                            <p>Lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>