    .character-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #card-container {
        height: 450px;
        width: 500px;
        padding: 20px;
        border-radius: 5px;
        background: white;
        position: relative;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        .profile-img img {
            height: 230px;
            width: 230px;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: -25px;
            left: -25px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
    
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        button {
            font-size: 18px;
            font-weight: 600;
            color: white;
            border-color: transparent;
            background-color: #ec292e;
            padding: 4px 8px;
        }
    }
    
    .related-comics {
        display: flex;
        flex-direction: column;
        h5 {
            color: gray;
        }
    }
    
    .items-comics {
        display: flex;
        flex-direction: column;
    }
    
    .container {
        height: 100%;
    }
    
    .column {
        height: 25%;
        display: flex;
        align-items: center;
    }
    
    @media screen and (min-width: 600px) {
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .column {
            flex-basis: 50%;
            height: 50%;
        }
    }
    
    .column {
        padding: 15px;
        box-sizing: border-box;
    }