<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="row py-3">
                    <div class="col-2 text-center px-0 mx-0">
                        <img src="../../../assets/icons/characters.png" alt="Characters" />
                    </div>
                    <div class="col-4 text-left px-0 mx-0">
                        <h2>Characters</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-6 pt-5 pl-5" *ngFor="let character of characteres | paginate: { itemsPerPage: 10, currentPage: p }">
                    <app-character [character]="character"></app-character>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center pt-5">
                    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>