<header>
    <div class="container mx-0">
        <div class="row">
            <div class="col-4 mr-0 pt-2">
                <h1 class="logo">
                    <img src="../../../assets/img/marvel.png" width="170" height="55" alt="Marvel" />
                </h1>
            </div>
            <div class="col-8 pt-3">
                <form (submit)="submit()" [formGroup]="queryForm">
                    <div class="form-group-lg">
                        <div class="input-group mb-3">
                            <input type="text" name="query" class="form-control form-control-lg border-right-0 border" formControlName="query" placeholder="Search character..">
                            <div class="input-group-append">
                                <span class="input-group-text"><img src="../../../assets/icons/search.png" alt="Search"/></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>