.logo img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #343a40;
}

.input-group-text {
    padding: 0px;
    background-color: white;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}