@import 'variables';
@mixin fonts($font-size:$size-14, $font-family:$font-family-Open-Sans, $font-weigth:$font-weight-regular, $color : $color-black) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weigth;
}