// Colors
$color-body: #ebebeb;
$color-black: #2d2727;
$color-red: #ec292e;
$color-brown: #322827;
$color-gray: #dcdcdc;
$color-white: #ffffff;
// Buttons
$default-add-btn: #f0f0f0;
$default-add-text: #3d3332;
$active-add-btn: #322827;
$default-buy-btn: #dcdcdc;
// Text sizes
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-28: 28px;
$size-32: 32px;
$size-40: 40px;
$size-56: 56px;
$size-72: 72px;
$size-88: 88px;
$size-96: 96px;
// Typography
$font-family-Open-Sans: 'Open Sans',
sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;