@import '../../../assets/design-system/_main.scss';
.character-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-container {
    height: 450px;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    position: relative;
    .profile-img img {
        height: 230px;
        width: 230px;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -25px;
        left: -25px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -48px;
}

.related-comics {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    h5 {
        color: gray;
    }
    a {
        color: $color-red;
        padding-bottom: 10px;
        ;
    }
}

.items-comics {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    a {
        color: $color-red;
        padding-bottom: 10px;
    }
}

.container {
    height: 100%;
}

.column {
    height: 25%;
    display: flex;
    align-items: flex-start;
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        flex-basis: 50%;
        height: 50%;
    }
}

.column {
    padding: 15px;
    box-sizing: border-box;
}

.modal-footer {
    padding: 0 !important;
}

.modal-footer button {
    flex: 0 1 50%;
    max-width: none;
    height: 4rem;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.btn-add {
    background-color: $default-add-btn;
    color: $default-add-text;
}

.btn-add:hover {
    background-color: $color-brown;
    color: $color-red;
}

.btn-buy {
    background-color: $color-gray;
    color: $color-red;
}

.add-img {
    div {
        width: 40px;
        height: 40px;
        background: url(../../../assets/icons/btn-favourites-default.png) no-repeat;
    }
}

.add-img:hover {
    div {
        background: url(../../../assets/icons/btn-favourites-primary.png) no-repeat;
    }
}