<div class="container-fluid py-3">
    <div class="character-card">
        <div id="card-container">
            <div class="profile-img">
            </div>
            <div class="container">
                <div class="column">
                </div>
                <div class="column">
                    <div class="description">
                        <h5>TITLE</h5>
                        <p>{{lorem | textLength}}</p>
                        <button>VIEW MORE</button>
                    </div>
                </div>
                <div class="column">
                    <div class="related-comics">
                        <h5>Related comics</h5>
                        <p>{{lorem | textLength: 32}}</p>
                        <p>{{lorem | textLength: 32}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="items-comics">
                        <p>{{lorem | textLength: 32}}</p>
                        <p>{{lorem | textLength: 32}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>