@import './assets/design-system/_main.scss';
.ngx-pagination .current {
    background: $color-red !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.ngx-pagination .current:hover {
    outline: 0;
    background: $color-red !important;
    border-radius: 20px !important;
    border: transparent !important;
}