/* You can add global styles to this file, and also import other style files */

.ngx-pagination .current {
    background: #ec292e !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.ngx-pagination .current:hover {
    outline: 0;
    background: #ec292e !important;
    border-radius: 20px !important;
    border: transparent !important;
}